Checks: >
  cppcoreguidelines-*,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-member-init,
  clang-analyzer-*,
  performance-*,
